/* By Athlon Front-End Team */

/* Core variables */
@import '../../node_modules/xterm/css/xterm.css';

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}


*::-webkit-scrollbar {
    display: none;
}

#terminal-container {
    height: 100%;
}

.terminal {
    padding-top: 10px;
    padding-left: 10px;
}