/* By Athlon Front-End Team */

/* Core variables */
@import '../../node_modules/xterm/css/xterm.css';

body {
    margin: 0px;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.terminal {
    padding: 15px;
    height: 100vh;
}